.header {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
    position: relative;
    color: white;
    max-height: 56px;
    margin: 0 auto;
    max-width: 1920px;
    margin-bottom: 33px;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        max-height: none;
    }
}