.teamCompound {
    display: block;
    width: 100%;
}

.statContainer {
    display: flex;
    gap: 8px;

}

.statElement {
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: space-between;
    padding: 14px 24px;
}

@media screen and (max-width: 1680px) {
    .statContainer {
        flex-direction: column
    }
}

@media screen and (max-width: 768px) {
    .statContainer {
        flex-direction: row
    }

    .statElement {
        flex-direction: column;
        padding: 12px 7px;
    }
}